a{
	color:#000000;
}
a:hover{
	color:#9fee00;
}
.list{
	list-style-type:none;
}
.list li{
	margin-left:10px;
	margin-top:5px;
}
.linkbtn{
	line-height:22px;
}
.hide{
	visibility:hidden;
}